body {
  margin: 0;
  padding: 0;
  background-color: black;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
}
html {
  scroll-behavior: smooth;
}

#background {
  width: 100%;
  position: fixed;
  right: 0;
  height: 100vh;
  margin: 0;
  z-index: -1;
}
header {
  backdrop-filter: blur(2px);
  background: rgba(156, 156, 156, 0.421);
  margin-top: 3%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 5px;
  width: 55%;
  height: max-content;
  border-radius: 40px;
}
#submitSignUp {
  width: 80px;
  cursor: pointer;
  box-shadow: 0px 0px 5px 1px white;
  border-radius: 5px;
  color: rgb(21, 21, 106);
  margin-left: 1%;
  margin-top: 5px;
}
#signUp input {
  outline: none;
  background-color: gray;
}
#fileInput::-webkit-file-upload-button {
  background-color: gray;
  color: rgb(21, 21, 106);
  cursor: pointer;
}
#signUp input::placeholder {
  color: rgb(21, 21, 106);
}
#signUp * {
  margin-bottom: 8px;
}
#signUp p {
  font-size: 22px;
  margin-left: 3%;
  margin-bottom: 13px;
}
p {
  color: white;
}
header img {
  border-radius: 50%;
  height: 100px;
  width: 100px;
  box-shadow: 0px 0px 10px 2px white;
}
header img:hover {
  animation-name: shadowchange1;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  transform: scale(1.1);
  transition-duration: 1s;
}
@keyframes shadowchange1 {
  50% {
    box-shadow: 0px 0px 10px 2px rgba(255, 255, 255, 0.514);
  }
}
header div:first-of-type p:first-of-type {
  font-size: 25px;
  text-shadow: 0px 0px 5px white;
}
header div:first-of-type p:last-of-type {
  font-size: 20px;
}
header > a {
  color: white;
  text-decoration: none;
  font-size: 20px;
  text-decoration: none;
  animation-name: changeColor;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  color: white;
  --g: 4px;
  --b: 12px;
  --c: white;
  padding: calc(var(--g) + var(--b));
  --_c: #0000 0 25%, var(--c) 0 50%;
  --_g1: repeating-linear-gradient(90deg, var(--_c)) repeat-x;
  --_g2: repeating-linear-gradient(180deg, var(--_c)) repeat-y;
  background: var(--_g1) var(--_p, 25%) 0, var(--_g2) 0 var(--_p, 125%),
    var(--_g1) var(--_p, 125%) 100%, var(--_g2) 100% var(--_p, 25%);
  background-size: 200% var(--b), var(--b) 200%;
  cursor: pointer;
  filter: grayscale(50%);
  transition: 0.3s;
}
header a:hover {
  --_p: 75%;
  filter: grayscale(0%);
  box-shadow: 0px 0px 10px 2px white;
}
header div:last-of-type {
  display: flex;
  flex-direction: column;
  width: 250px;
}

main {
  backdrop-filter: blur(2px);
  background: rgba(156, 156, 156, 0.421);
  width: 55%;
  padding-left: 30px;
  padding-right: 30px;
  height: max-content;
  margin-top: 4%;
  border-radius: 40px;
  display: flex;
  flex-direction: row;
}
.mainMoon {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  box-shadow: 0px 0px 20px 5px white;
  position: fixed;
  top: 20%;
}
.mainMoon:hover {
  animation-name: shadowchange2;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  transform: scale(1.1);
  transition-duration: 1s;
}
@keyframes shadowchange2 {
  50% {
    box-shadow: 0px 0px 20px 5px rgba(255, 255, 255, 0.514);
  }
}
.img-title {
  width: 299.75px;
  height: 168.25px;
  margin-top: 5%;
}
section:last-of-type p:last-of-type {
  max-width: 300px;
  font-size: 17px;
}
section:first-of-type p:first-of-type {
  font-size: 30px;
  text-shadow: 0px 0px 7px white;
}
section:last-of-type {
  margin-left: 30%;
  display: flex;
  flex-direction: column;
}
.title {
  font-size: 25px;
}
#addWeblog {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 235%;
}
#addWeblog a {
  text-decoration: none;
  font-size: 25px;
  font-weight: 600;
  color: white;
  background-color: black;
  padding: 5px;
  border-radius: 50px;
  height: max-content;
  height: 20px;
  display: flex;
  align-items: center;
}
#addWeblog p {
  background-color: black;
  padding: 5px;
  border-radius: 10px;
  font-size: 15px;
}
h3 {
  color: white;
}
ul {
  width: 80%;
  background-color: white;
}
footer {
  margin-top: 10%;
  display: flex;
  flex-direction: column;
  gap: 13px;
  align-items: center;
}
footer input {
  outline: none;
  width: 200px;
}
footer input::placeholder {
  color: rgb(21, 21, 106);
}
footer input:last-of-type {
  cursor: pointer;
  width: 120px;
}
.user-info-font {
  font-size: 12px;
}
